<template>
  <div>
    <p>
      Envianos tus consultas o sugerencias, o pedinos presupuestos, te
      responderemos a la brevedad.
    </p>
    <ul>
      <li>
        <a href="#"
          ><img src="../../../assets/Footer/Facebook.svg" alt="icon"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="../../../assets/Footer/WhatsApp.svg" alt="icon"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="../../../assets/Footer/Instagram.svg" alt="icon"
        /></a>
      </li>
      <li>
        <router-link to="/contact"
          ><img src="../../../assets/Footer/Message.svg" alt="icon"
        /></router-link>
      </li>
    </ul>
  </div>
</template>

<style scoped>
div {
  background-color: var(--first-color);
  padding: 10px 20px;
}
p {
  color: white;
  font-family: var(--first-font);
  font-weight: 300;
  font-size: 15px;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-inline-start: 0;
}
@media screen and (min-width: 768px) {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 20px;
  }
  p {
    width: 50%;
  }
  ul {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  p {
    font-size: 20px;
  }
  ul {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  ul {
    width: 25%;
  }
}
</style>
