<template>
  <header>
    <h1>LOGO</h1>
    <nav>
      <div class="main-nav">
        <Burger></Burger>
      </div>
      <div class="navbar">
        <ul>
          <li>
            <router-link to="/">INICIO</router-link>
          </li>
          <li>
            <router-link to="/services">SERVICIOS</router-link>
          </li>
          <li>
            <router-link to="/works">TRABAJOS</router-link>
          </li>
          <li>
            <router-link to="/about">SOBRE NOSOTROS</router-link>
          </li>
          <li>
            <router-link to="/contact">CONTACTO</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <Sidebar>
    <ul class="sidebar-panel-nav">
      <li>
        <router-link to="/">INICIO</router-link>
      </li>
      <li>
        <router-link to="/services">SERVICIOS</router-link>
      </li>
      <li>
        <router-link to="/works">TRABAJOS</router-link>
      </li>
      <li>
        <router-link to="/about">SOBRE NOSOTROS</router-link>
      </li>
      <li>
        <router-link to="/contact">CONTACTO</router-link>
      </li>
    </ul>
  </Sidebar>
</template>

<script>
import Burger from './Burger';
import Sidebar from './Sidebar.vue';
export default {
  components: {
    Burger,
    Sidebar
  }
};
</script>

<style scoped>
header {
  background-color: var(--first-color);
  font-family: var(--first-font);
  color: white;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  height: 5rem;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: none;
}

.sidebar-panel-nav {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
ul.sidebar-panel-nav {
  list-style-type: none;
  padding: 0;
}

ul.sidebar-panel-nav > li > a {
  color: #fff;
  font-family: var(--first-font);
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding: 10px;
}

@media screen and (min-width: 430px) {
  header {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1084px) {
  .main-nav {
    display: none;
  }
  .sidebar-panel-nav {
    display: none;
  }
  header {
    padding: 0 80px;
  }
  .navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .navbar li {
    padding: 15px;
  }
  .navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
  }
}

a:hover {
  background: rgba(255, 255, 255, 0.123);
}

a:active,
a.router-link-active {
  border: 1px solid white;
}
</style>
