<template>
  <the-header></the-header>
  <router-view v-slot="slotProps">
    <component :is="slotProps.Component"></component>
  </router-view>
</template>

<script>
import TheHeader from './components/layouts/TheHeader/TheHeader';

export default {
  components: {
    TheHeader
  }
};
</script>

<style>
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
:root {
  /* Fonts */
  --first-font: 'Roboto', sans-serif;
  --second-font: 'Roboto Slab', serif;
  /* Colors */
  --first-color: #770318;
  --second-color: #f29f05;
  --third-color: #261d1d;
  --fourth-color: #707070;
  --fifth-color: #f24405;
}
body {
  margin: 0;
}
</style>
